.current-player {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#player-turn {
  color: #4CAF50;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

* {
    -webkit-tap-highlight-color: transparent; /* Для мобильных браузеров */
    outline: none; /* Убирает стандартное выделение */
    user-select: none; /* Запрещает выделение текста */
}
.playBody {
  width: 70%;
  height: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

.playName {
  text-align: center;
}

.playZone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}
.playZone div {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.5s ease;
}

#p5 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#p2 {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#p8 {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#p6 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
#p4 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


#reset-btn {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  font-size: 16px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  opacity: 0;
  transition: opacity 0.5s ease;
}
#reset-btn.visible{
  opacity: 1;
  display: block;
}

#reset-btn:active {
  background: red;
}




.checkbox-google {
	display: inline-block;    
	height: 40px;    
	width: 60px;
	line-height: 40px;      
	margin-right: 10px;       
	position: absolute;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;	
	left: 20px;
	top: 38px;
	transform: translateY(-50%);
	z-index: 10;
}
.checkbox-google .checkbox-google-switch {
	display: inline-block;	
	width: 36px;
	height: 14px;	
	border-radius: 20px;
	position: relative;
	top: 6px;			
	vertical-align: top;
	background: #9f9f9f;
	transition: .2s;
}
.checkbox-google .checkbox-google-switch:before {
	content: '';
	display: inline-block;	
	width: 20px;	
	height: 20px;
	position: absolute;
	top: -3px;
	left: -1px;
	background: #fff;
	background-image: url('../images/icon-robot.png');
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
	transition: .15s;		
}
.checkbox-google input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-google input[type=checkbox]:checked + .checkbox-google-switch {
	background: #9ABEF7;
}
.checkbox-google input[type=checkbox]:checked + .checkbox-google-switch:before {
	background: #1a73e8;
	background-image: url('../images/icon-robot.png');
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	transform:translateX(18px);
}
 
/* Hover */
.checkbox-google input[type="checkbox"]:not(:disabled) + .checkbox-google-switch {
	cursor: pointer;
	border-color: rgba(0, 0, 0, .3);
}
 
/* Active/Focus */
.checkbox-google input[type="checkbox"]:not(:disabled):active + .checkbox-google-switch:before, 
.checkbox-google input[type="checkbox"]:not(:disabled):focus + .checkbox-google-switch:before {
	animation: checkbox-active-on 0.5s forwards linear;
}
@keyframes checkbox-active-on {
	0% {
		box-shadow: 0 0 0 0 rgba(212,212,212, 0);
	}
	99% {
		box-shadow: 0 0 0 10px rgba(212,212,212, 0.5);
	}
}

.upContent {
  position: center;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.checkbox-google input[type="checkbox"]:not(:disabled):checked:active + .checkbox-google-switch:before, 
.checkbox-google input[type="checkbox"]:not(:disabled):checked:focus + .checkbox-google-switch:before {
	animation: checkbox-active-off 0.5s forwards linear;
}
@keyframes checkbox-active-off {
	0% {
		box-shadow: 0 0 0 0 rgba(154,190,247, 0);
	}
	99% {
		box-shadow: 0 0 0 10px rgba(154,190,247, 0.5);
	}
}
 
/* Disabled */
.checkbox-google input[type=checkbox]:disabled + .checkbox-google-switch {
	filter: grayscale(60%);
	border-color: rgba(0, 0, 0, .1);
}
.checkbox-google input[type=checkbox]:disabled + .checkbox-google-switch:before {
	background: #eee;
}

