.current-player {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#player-turn {
  color: #4CAF50;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}


.playBody {
  width: 70%;
  height: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.playName {
  text-align: center;
}

.playZone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}
.playZone div {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.5s ease;
}

#p5 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#p2 {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#p8 {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#p6 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
#p4 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


#reset-btn {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  font-size: 16px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  opacity: 0;
  transition: opacity 0.5s ease;
}
#reset-btn.visible{
  opacity: 1;
  display: block;
}

#reset-btn:active {
  background: red;
}